* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

h2 {
  font-weight: lighter;
  margin: 0;
  color: #fdfafa;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #f30606;
}

h4 {
  font-weight: bold;
  margin: 0;
}

.navbar {
  background-color: #ef5350;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

.navbar__container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: row;
  gap: 1rem;
}

.navbar__logo {
  width: 3rem;
  height: 3rem;
}

.navbar__logo-image {
  width: 80px;
  height: 80px;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
}

.navbar__list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar__item {
  margin: 0;
}

.navbar__link {
  text-decoration: none;
  color: #fdfafa;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar__link:hover {
  background-color: #f8b2b1;
  color: #0c0000;
  border-radius: 4px;
  font-weight: bold;
}

.navbar__link--active {
  font-weight: bold;
  color: #007bff;
}

.navbar__icon {
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.navbar__tittle {
  font-weight: bold;
  margin: 0;
  color: #fdfafa;
}

.navbar__menu {
  margin-left: auto;
}

.navbar__menu--active {
  display: block !important;
  gap: 10px;
}

@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar__toggle {
    display: block !important;
    color: #fdfafa;
    margin-left: auto;
  }
  .footer__row {
    flex-direction: column;
  }
}
main .main__container {
  background: #fff;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
main .main__section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
}
main .main__section .main__section_tittle {
  color: #000;
}
main .main__section .main_section_p {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin: 5px 0;
}
main .main__section-disabled {
  display: none;
}
main .main__section--services {
  display: flex;
  justify-content: center;
  margin: 2rem 6rem 2rem 6rem;
  flex-direction: column;
  align-items: center;
}
main .main__section__buttons {
  display: flex;
  gap: 1rem;
}
main .main__section__btn {
  padding: 0.5rem;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ef5350;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
main .main__section__btn--consultar-active {
  display: inline-block;
}
main .main__section__btn--consultar-disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
main .main__section__btn--nuevo-disabled {
  display: none;
}
main .main__section__btn--nuevo-active {
  display: block;
}
main .main__section__image--primary {
  width: 100%;
  height: auto;
}
main .main__section__image--secondary {
  width: 75%;
  height: auto;
}
main .main__section__pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
main .main__section__horoscope {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem;
}
main .results {
  text-align: center;
}
main .results .buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
main .results .buttons-container button {
  padding: 0.5rem 1rem;
  background-color: #666;
  color: white;
  border: none;
  cursor: pointer;
}
main .results .buttons-container button:hover {
  background-color: #444;
}
main .results .result-card {
  background: #fff;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
main .results .pokemon-button {
  background-color: #0078e7;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
main .results .pokemon-button:hover {
  background-color: #005bb5;
}

.footer {
  background-color: #333;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.footer__column {
  flex: 1;
  min-width: 200px;
  padding: 1rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer__text {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.footer__bottom {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 4rem;
}

.footer__copyright {
  font-size: 0.875rem;
}

.footer__icon {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=styles.css.map */
