main {
    .main__section--dob {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 2rem;
      flex-direction: column;
      align-items: center;
    }
    .main__section--horoscope-disabled {
      display: none;
    }
    .main__section--horoscope-active {
      display: flex;
      justify-content: center;
      margin: 2rem 6rem 2rem 6rem;
      flex-direction: column;
      align-items: center;
    }
    .main__section--reclamos {
      display: flex;
      justify-content: center;
      margin: 2rem 6rem 2rem 6rem;
      flex-direction: column;
      align-items: center;
    }
    .main__section--services{
      display: flex;
      justify-content: center;
      margin: 2rem 6rem 2rem 6rem;
      flex-direction: column;
      align-items: center;
    }
    .main__section__btn--consultar-active  {
      display: block;
    }
    .main__section__btn--consultar-disabled {
      background-color: #ccc; 
      color: #666;           
      cursor: not-allowed;   
      opacity: 0.7;          
    }
    .main__section__btn--nuevo-disabled {
      display: none;
    }
    .main__section__btn--nuevo-active {
      display: block;
    }
    .main__section--image{
      
      object-fit:cover;
      width: 100%;
      height: auto;

    }

    .main__section__pokemon {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
  
    .horoscope-input {
      text-align: center;
      margin: 1rem 0;
  
      .input-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.5rem;
  
        input, button {
          padding: 0.5rem 1rem;
        }
  
        button {
          background-color: #ff6600;
          color: white;
          border: none;
          cursor: pointer;
  
          &:hover {
            background-color: #ffcc00;
          }
        }
      }
    }
  
    .results {
      text-align: center;
  
      .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
  
        button {
          padding: 0.5rem 1rem;
          background-color: #666;
          color: white;
          border: none;
          cursor: pointer;
  
          &:hover {
            background-color: #444;
          }
        }
      }
  
      .result-card {
        background: #fff;
        padding: 1rem;
        margin: 1rem auto;
        width: 80%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
  
      .pokemon-button {
        background-color: #0078e7;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: #005bb5;
        }
      }
    }
  }
  