@use "../themes/variables";

main {
    .main__container{
      background: #fff;
      padding: 0.5rem 2rem 0.5rem 2rem;
      margin: 2rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .main__section{
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 2rem;
      flex-direction: column;
      align-items: center;
      .main__section_tittle{
        color: #000;
      }
      .main_section_p{
        text-align: center;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        color: #333;
        line-height: 1.6;
        margin: 5px 0;
      }
    }
    .main__section-disabled {
      display: none;
    }
    .main__section--services{
      display: flex;
      justify-content: center;
      margin: 2rem 6rem 2rem 6rem;
      flex-direction: column;
      align-items: center;
    }
    .main__section__buttons{
      display: flex;
      gap: 1rem;
    }
    .main__section__btn{
      padding: 0.5rem; 
      font-size: 16px; 
      font-weight: bold;
      color: #fff;
      background-color: variables.$primary-pokemon;
      border: none; 
      border-radius: 8px; 
      cursor: pointer; 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .main__section__btn--consultar-active  {
      display: inline-block;
    }
    .main__section__btn--consultar-disabled {
      background-color: #ccc; 
      color: #666;           
      cursor: not-allowed;   
      opacity: 0.7;          
    }
    .main__section__btn--nuevo-disabled {
      display: none;
    }
    .main__section__btn--nuevo-active {
      display: block;
    }
    .main__section__image--primary{
      width: 100%;
      height: auto;

    }
    .main__section__image--secondary{
      width: 75%;
      height: auto;

    }
    .main__section__pokemon {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin: 1rem;
    }

    .main__section__horoscope{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      margin: 1rem;
      padding: 1rem
    }
  
    .results {
      text-align: center;
  
      .buttons-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
  
        button {
          padding: 0.5rem 1rem;
          background-color: #666;
          color: white;
          border: none;
          cursor: pointer;
  
          &:hover {
            background-color: #444;
          }
        }
      }
  
      .result-card {
        background: #fff;
        padding: 1rem;
        margin: 1rem auto;
        width: 80%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
  
      .pokemon-button {
        background-color: #0078e7;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
  
        &:hover {
          background-color: #005bb5;
        }
      }
    }
  }
  