@use "../themes/variables";

.navbar {
  background-color: variables.$primary-pokemon;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

.navbar__container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__logo {
  width: 3rem;
  height: 3rem;
}
.navbar__logo-image {
  width: 80px;
  height: 80px;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
}

.navbar__list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navbar__item {
  margin: 0;
}

.navbar__link {
  text-decoration: none;
  color: variables.$blanquito;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar__link:hover {
  background-color: variables.$colorbc-links;
  color: variables.$oscurito;
  border-radius: 4px;
  font-weight: bold;
}

.navbar__link--active {
  font-weight: bold;
  color: #007bff;
}

.navbar__icon {
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.navbar__menu--active {
  display: block !important;
  gap: 10px;
}

@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar__toggle {
    display: block;
    grid-column-start: 3;
    color: variables.$background-light;
  }
  .carousel__control {
    padding: 0.5rem;
  }
  .footer__row {
    flex-direction: column;
  }
}
